.skillStars > .MuiRating-decimal {
  font-size: 1.25rem;
  color:rgba(0, 0, 0, 0.87);
}

body {
  -webkit-print-color-adjust: exact; /*Chrome, Safari */
  color-adjust: exact; /*Firefox*/
}

.MuiTypography-body1 {
  font-size: 11pt !important;
}

.MuiTypography-body2 {
  font-size: 10pt !important;
}

.MuiDivider-root {
  background-color: rgba(0, 0, 0, 0.25) !important;
}